html,
body {
  box-sizing: border-box;
  color: #fff;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  /* text-shadow: 3px 3px 0px rgba(0,0,0,0.3); */
}

p,
span,
button,
a {
  font-family: 'Montserrat', sans-serif;
}

a {
  display: inline-block;
  text-align: left;
  font-size: 1em;
  color: rgba(0,0,0,0.6);
  cursor: pointer;
  font-weight: 900;
  text-decoration: none;
  border: none;
}

/* Main */

.main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #9b59b6;
}

.container {
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  padding: 12px;
  overflow: hidden;
}

.question,
.answers {
  display: block;
  width: 100%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.question {
  margin-top: 10%;
  margin-bottom: 72px;
  text-align: center;
  font-size: 4em;
}

.question.smaller {
  font-size: 2em;
  font-weight: 700;
}

.answers {
  text-align: center;
}

.answers button {
  margin: 0 12px 24px;
}

.link {
  display: block;
  height: 64px;
  line-height: 64px;
  margin-bottom: 32px;
  float: left;
  clear: both;
  cursor: pointer;
  border-radius: 32px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background 100ms;
}

.link:hover {
  background-color: #fff;
}

.link a {
  transition: color 100ms;
  font-size: 1.25em;
  height: 100%;
  width: 100%;
  padding: 0 32px;
  font-weight: 700;
  color: #fff;
}

.link:hover a {
  color: #9b59b6;
}

.logo {
  position: fixed;
  right: 24px;
  bottom: 24px;
  height: 64px;
  width: 64px;
  opacity: 0.5;
  z-index: 3;
  transition: opacity 100ms;
}

.logo:hover {
  opacity: 1;
}

.logo img {
  height: 100%;
}

/* Buttons */

button {
  height: 64px;
  min-width: 192px;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  background-color: transparent;
  color: #fff;
  border-radius: 34px;
  font-size: 1.25em;
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 0 36px;
  border: 3px solid #fff;
  transition: all 100ms ease-in;
}

button:hover {
  background-color: #fff;
  color: #9b59b6;
}

/* Effects */

.grow:hover {
  transform: scale(1.1);
}

.grow:active {
  transform: scale(1);
}

/* Colors */

.co-dark {
  color: #2c3e50;
}

.gradient {
  position: fixed;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0,0,0,0.15) 5%, transparent 25%);
}